# build outputs
*.axf
*.elf
*.hex
*.bin

# object files
*.o
*.d
*.crf
*.htm
*.lst
*.sct
*.map

# uvision build folders
Objects/*
Listings/*
DebugConfig/*

# uvision project files
*.uvguix.*
*.uvgui.*
*.uvoptx

# backup/temp
*.bak
*.dep
*.lnp
*.uvpack

# debug files
RTE\Device\STM32F446RETx\startup_stm32f446xx.s.base@2.6.8
RTE\Device\STM32F446RETx\STM32F446.dbgconf
RTE\Device\STM32F446RETx\STM32F446.dbgconf.base@0.0.0
RTE\Device\STM32F446RETx\system_stm32f4xx.c.base@2.6.8
